@model Product
@{
    ViewData["Title"] = "editProduct";
}

<h1>EditProduct</h1>
<form method="post">
    <table class="table table-bordered">
        <tr>
            <td><label asp-for="ProductId"></label></td>
            <td><input asp-for="ProductId" readonly class="form-control" /></td>
        </tr>
        <tr>
            <td><label asp-for="ProductName"></label></td>
            <td><input asp-for="ProductName" class="form-control" /></td>
        </tr>
        <tr>
            <td><label asp-for="Qty"></label></td>
            <td><input asp-for="Qty" class="form-control" /></td>
        <tr>
            <td><label asp-for="price"></label></td>
            <td><input asp-for="price" class="form-control" /></td>
        </tr>
        <tr>
            <td><label asp-for="creationDate"></label></td>
            <td><input asp-for="creationDate" class="form-control" /></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:right">
                <input type="submit" value="save" class="btn btn-success" />
                <a asp-action="Index" class=" btn btn-danger"> Cancel</a>
            </td>
        </tr>


    </table>
</form>


